node-linker=hoisted
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*metro*
public-hoist-pattern[]=*react-native*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*nativewind*
public-hoist-pattern[]=*react-native-css-interop*
public-hoist-pattern[]=*@expo/vector-icons*
public-hoist-pattern[]=*lucide-react-native*
public-hoist-pattern[]=*@types*
